{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "printWidth": 120,
    "rangeStart": 0,
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
}
