sudo: required
dist: trusty
language: node_js
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
cache:
  directories:
    - node_modules
branches:
  only:
    - master    
notifications:
  email: false
node_js:
  - stable
before_install:  
  - npm i -g 
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
  - npm prune
script:
  - npm run test
  - npm run build
after_success:
  - npm publish .\dist\ngx-clipboard\
