<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <h3>Copy from text -- text</h3>
      Click this button, it will copy the text from the input by referring to the <strong>text content</strong>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="text1" placeholder="content will be copy after click the copy button">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ngxClipboard [cbContent]="text1">copy</button>
      </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Copy from text -- target</h3>
      Click this button, it will copy the text from the input by referring to the <strong>input element</strong>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="text2" placeholder="content will be copy after click the copy button"
          #inputTarget>
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" [ngxClipboard]="inputTarget">copy</button>
      </span>
      </div>
    </div>
  </div>
</div>
